<?xml version="1.0" encoding="GB18030"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SelectCityServlet</servlet-name>
		<servlet-class>
			servlet.SelectCityServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SelectCityServlet</servlet-name>
		<url-pattern>/servlet/SelectCityServlet</url-pattern>
	</servlet-mapping>

</web-app>
